<table width="100%"
  style="font-family: Arial, sans-serif; color: #333; line-height: 1.6; background-color: #f9f9f9; padding: 50px 20px;">
  <tr>
    <td align="center">
      <table width="95%"
        style="max-width: 600px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 8px; padding: 20px;">
        <tr style="text-align: center">
          <td style="padding-bottom: 20px;">
            <!-- Logo Image -->
          </td>
        </tr>
        <tr>
          <td style=" text-align: center; font-size: 22px; color: #ffc107; font-weight: bold; padding-bottom: 20px;">
            <%- subject %>
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px; color: #333; padding-bottom: 10px;">
            <%- content.greeting %>
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px; color: #333; padding-bottom: 10px;">
            <%- content.body1 %>
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px; color: #333; padding-bottom: 20px;">
            <%- content.body2 %>
          </td>
        </tr>
        <tr>
          <td align="center">
            <a href="<%= BASE %>/reset?token=<%= reset_password_token %>"
              style="display: inline-block; background-color: #007bff; color: #ffffff; text-decoration: none; font-size: 16px; font-weight: bold; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
              <%= content.linkContent %>
            </a>
          </td>
        </tr>
        <tr>
          <td style="font-size: 14px; color: #888; padding-top: 20px;">
            <%- content.footer1 %>
          </td>
        </tr>
        <tr>
          <td style="font-size: 14px; color: #888; padding-bottom: 20px;">
            <%- content.footer2 %>
          </td>
        </tr>
        <tr>
          <td style="font-size: 14px; color: #333; text-align: center;">
            <%- content.closing %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>