<!DOCTYPE html>
<html lang="<%= language_key %>">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= i18n.pageTitle[language_key] %>
  </title>
  <meta name="description" content="<%= i18n.pageDescription[language_key] %>" />
  <meta name="keywords" content="<%= i18n.pageKeywords[language_key] %>" />
  <%- include('./partials/head') %>
</head>

<body>
  <h1>
    <%= i18n.pageTitle[language_key] %>
  </h1>
  <%= i18n.pageDescription[language_key] %>
</body>

</html>